.root{
-fx-background-color: #FFD600;
}

.button{
-fx-background-color: #33691E;
-fx-text-fill: #FFD600;
-fx-background-radius: 60;
}

.button{

}

.avslutaknapp{
-fx-background-image: url("..\resources\avslutaknapp.jpg")
}

.protokollknapp{
-fx-pref-width: 30;
}