.root{
-fx-background-color: #FFD600;
}

.button{
-fx-background-color: #33691E;
-fx-text-fill: #FFD600;
-fx-background-radius: 60;
}

.avslutaknapp{
-fx-background-image: url("Avsluta.jpg");
-fx-padding: 15 23 15 23;
-fx-background-size: 60px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: #FFD600;
}

.infoknapp{
-fx-background-image: url("information.jpg");
-fx-padding: 20 28 20 28;
-fx-background-size: 60px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: #FFD600;
}

.vidare{
-fx-background-image: url("pilfram.png");
-fx-padding: 15 23 15 23;
-fx-background-size: 60px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: #FFD600;
}

.bak{
-fx-background-image: url("back.png");
-fx-padding: 15 35 15 35;
-fx-background-size: 60px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: #FFD600;
}

.yatzybild{
-fx-background-image: url("yatzy.jpg");
-fx-padding: 50 125 50 125;
-fx-background-size: 200px 100px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: #FFD600;
}

.protokollknapp{
-fx-pref-width: 30;
}