.root{
-fx-background-color: #FFD600;
}

.button{
-fx-background-color: #33691E;
-fx-text-fill: #FFD600;
-fx-background-radius: 60;
}

.button{

}

.avslutaknapp{
-fx-background-image: url("Avsluta.jpg");
-fx-padding: 15 23 15 23;
-fx-background-size: 60px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
}

.infoknapp{
-fx-background-image: url("information.jpg");
-fx-padding: 15 23 15 23;
-fx-background-size: 60px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
}

.vidare{
-fx-background-image: url("pilfram.png");
-fx-padding: 15 23 15 23;
-fx-background-size: 60px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: #FFD600;


}

.protokollknapp{
-fx-pref-width: 30;
}